<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OBA</title>
    <!-- Icons source Boxicons.com -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <!-- Header -->
    <header class="navbar">
      <div class="bx bx-menu" id="menu-icon" style="color: red;"></div>
      <form class="search-form" action="/search" method="GET">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
      <a href="https://www.oba.nl/"><img src="/logo_oba.png" alt="Link to example.com" width="112" height="41"></a>
    </header>