<%- include('./partials/head') %>

<main class="index">
  <a href="https://www.oba.nl/"><img src="./logo_oba.png" alt="Link to example.com" width="112" height="41"></a>
  <h1>Mijn familie</h1>
  <!-- div container bevat sections voor elk gezinslid en een extra sectie voor het toevoegen van een nieuw account-->
  <div class="container">
    <% families.forEach(function(family) { %>
      <!-- Nested loop die neemt elke member-ID in de array family_member van het huidige family-object.
      Verwijst naar family_member parameter van oba_family ("family_member": [2, 3, 4]) -->
      <% family.family_member.forEach(function(member) { %>
        <!-- Functie verwijst het naar "id" parameter van oba_profile -->
        <% profiles.forEach(function(profile) { %>
          <!-- Controleer of de ID van het huidige profielobject overeenkomt met de member-ID. 
          Als dit overeenkomt, wordt de section voor dat familielid weergegeven.-->
          <% if (profile.id === member) { %>
            <!-- een onclick aantoep voor functie redirectOverview -->
            <section onclick="redirectOverview()"> 
              <img src="https://fdnd-agency.directus.app/assets/<%= profile.avatar %>">
              <h3 class="member_name"><%= profile.name %></h3> 
            </section>
          <% } %>
        <% }) %>
      <% }) %>
      <section>
        <div class="cross"><img src="./plus.png"></div>
        <h3>Account toevoegen</h3> 
      </section>
    <% }) %>
  </div>

</main>

<!-- Functie om user door te sturen naar overview pagina-->
<script>
  function redirectOverview() {
    window.location.href = '/overview';
  }
</script>

<%- include('./partials/foot') %>