:root {
  /* ===== Colors ===== */
  --background-color: rgb(255, 255, 255);
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 0, 0);
  --text-color: rgb(0, 0, 0);
}

/* - - - Basic styling - - - */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

main {
  padding-top: 2rem;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  font-weight: 400;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 16px;
  margin-top: 0.5em;
}


/* - - - Navigation bar head - - - */

nav {
  position: sticky;
  background-color: var(--background-color);
  z-index: 1000;
  top: 0;
}

nav ul {
  transition: ease 0.40s;
  list-style: none;
}

nav .horbar {
  width: 100%;
  height: 100px;
  top: 0;
  padding: 20px 5% 15px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-color);
  border-bottom: var(--secondary-color) solid 1.2px;
}

nav .nav_option {
  position: relative;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  text-transform: uppercase;
}

nav .nav_option::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  transition: width 0.3s ease;
}

nav .nav_option:hover::after {
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  background-color: rgba(255, 255, 255, 0.417);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 120px 5% 15px;
  display: none;
}

.sidebar a {
  padding-top: 30px;
  margin-left: 10px;
}

/* - - - Search form - - - */

.search-form {
  margin-left: auto;
}

.search-form input[type="text"] {
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  background: none;
  padding: 5px;
  color: var(--background-color);
}

.search-form button {
  border: none;
  background: none;
  color: var(--background-color);
  cursor: pointer;
}

/* - - - Navigation Media Queries - - - */ 

@media (min-width: 45em) {
  .sidebar {
    width: 50%;
    border-right: var(--secondary-color) solid 1.2px;
  }
}

/* - - - Icons - - - */

.bx {
  margin: 0 1em 0 0;
} 

#menu-icon {
  font-size: 35px;
  cursor: pointer;
}

#x-icon {
  font-size: 40px;
  display: none;
  cursor: pointer;
}


/* - - - Index.ejs - - - */

.family {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.container_family {
  padding-top: 2rem;
  text-align: center;
}

.family section {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2em;
  justify-content: center;
  text-align: center;
}

.family section img {
  width: 210px;
  height: 210px;
  object-fit: cover;
}

.family section .cross {
  width: 210px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.family section .cross img {
  width: 100px;
  height: 100px;
}


/* - - - Hover effect - - - */

.family section:hover img, .family section:hover h3 {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.family section:hover ~ .container {
  margin-top: 0; 
}

.family section:hover ~ h1 {
  margin-top: -40px; 
}

.member_name {
  text-transform: capitalize;
}

/* - - - index.ejs Media Queries - - - */ 

@media (min-width: 35em) {
  .family {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .container_family {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 1em; 
    padding-top: 2em;
  }

  .family section img {
    width: 200px;
    height: 200px;
  }

  .family section .cross {
    width: 235px;
    height: 235px;
  }

  .family section .cross img{
    width: 120px;
    height: 120px;
  }
  
  .family h1 {
    margin-bottom: -0.2em;
    font-size: 45px;
    border: none;
  }

  .family h3 {
    margin-top: 1em;
  }
}

@media (min-width: 40em) {
  .family section img {
    width: 235px;
    height: 235px;
  }
}


@media (min-width: 50em) {
  .container_family {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1em;
  }
}


@media (min-width: 70em) {
  .container_family {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1em;
  }
}


/* - - - Overview.ejs - - - */

.main-overview {
  display: flex;
  flex-direction: column;
} 

.welkom-message-template {
  padding: 2rem 2rem 4rem 2rem;
}

.welkom-message-template p {
  width: 100%;
  max-width: 35em;
  line-height: 2;
  margin-top: 1rem;
}

.welkom-message-template p, 
.welkom-message-template h1 {
  color: var(--secondary-color);
  text-transform: none;
}

.welkom-message-template h1 {
  font-size: 30px;
}

.title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);

}

.title-container, 
.title-container h2 {
  overflow: hidden;
  white-space: nowrap;
}

.title-container h2 {
    padding: 0.3em 1em;
    margin: 0;
    font-size: 25px;
}

.title-container:nth-child(2) h2 {
  text-align: left; 
}

.title-container:nth-child(3) h2 {
  margin-left: auto; 
}

.title-container:nth-child(5) h2{
  margin: auto; 
}


/* - - - Carousel - - - */ 

.wrapper {
  flex-direction: column;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 2em 0em;
}

.carousel {
  overflow-x: auto;
  width: 60%;
  display: flex;
  align-items: center;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging .carousel_item {
  pointer-events: none;   /* geen default meeslepen van het plaatje */
}

/* - - - Items van Carousel - - - */ 

.carousel_item {
  width: 200px;
  object-fit: cover;
  list-style: none;
  display: inline-block;
  margin-right: 8em;
  cursor: pointer;
}

.carousel_item:first-child {
  margin-left: 1.5em;
}

.carousel_item:last-child {
  margin-right: 1.5em;
}

.carousel_item img {
  width: 180px;
  object-fit: cover;
}

.carousel_item h3 {
  margin: 10px 0;
  white-space: wrap;
}

/* - - - Pijltjes carousel draaien - - - */ 

.icon-arrow {
  width: 25px; 
  height: 25px; 
  top: 40%;
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover; 
}

.icon-arrow-left {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='m17.267,23.888L6.439,13.061c-.283-.283-.439-.66-.439-1.061s.156-.777.439-1.061L17.267.112l.707.707L7.146,11.646c-.094.095-.146.22-.146.354s.052.259.146.354l10.827,10.827-.707.707Z'/%3E%3C/svg%3E");
  left: 3em;
}

.icon-arrow-right {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='m6.733,23.888l-.707-.707,10.827-10.827c.095-.095.146-.22.146-.354s-.052-.259-.146-.354L6.026.819l.707-.707,10.827,10.827c.283.283.439.66.439,1.061s-.156.777-.439,1.061l-10.827,10.827Z'/%3E%3C/svg%3E");
  right: 3em;
}

/* - - - Buttons stijlen - - - */

.see-more-button {
  width: 140px;
  height: 36px;
  font-size: 14px;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  margin: 2em 2em 0em 0em;
  align-self: end;
  transition: transform 0.2s ease; 
}

.center-button:hover {
  transform: scale(0.95);
}

/* - - - Overzicht.ejs Media Queries - - - */ 

@media (min-width: 45em) {

  .welkom-message-template {
    padding: 4rem 4rem 5rem 4rem
  }

  .welkom-message-template h1 {
    font-size: 45px;
  }

  .welkom-message-template p {
    width: 100%;
    max-width: 35em;
    line-height: 2;
    margin-top: 2rem;
  }

  .title-container h2 {
    padding: 0.3em 2em;
    font-size: 30px;
  }

  .wrapper {
    padding: 4rem 4rem 1.5rem 4rem;
  }

  .icon-arrow {
    width: 40px; 
    height: 40px; 
    margin: 3rem;
  }

  .carousel_item:first-child {
    margin-left: 0;
  }

  .carousel_item:last-child {
    margin-right: 0; /* Ik gebruik pseudo-class :last child om margin-right te verwijderen van laatste item */
  }

  .carousel_item {
    width: calc(100%/2);
    margin-right: 5rem;
  }

  .see-more-button {
    width: 146px;
    height: 39px;
    font-size: 15px;
    margin: 4em 2em 0em 0em
  }

  
  
}

@media (min-width: 75em) {

  .welkom-message-template {
    padding: 8rem;
  }

  .welkom-message-template p {
    width: 100%;
    max-width: 35em;
    line-height: 2;
    margin-top: 2rem;
    font-size: 18px;
  }

  .title-container h2 {
    padding: 0.3em 3em;
    font-size: 35px;
  }

  .carousel_item {
    width: calc(100%/3);
    margin-right: 7rem;
  }

  .see-more-button {
    align-self: center;
  }

}

/* - - - Detail.ejs - - - */

.detail {
  font-family: Arial, Helvetica, sans-serif;
}

.detail article {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.detail img {
  width: 70%;
}

.item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-info h2 {
  color: var(--text-color);
}

.item-info h3 {
  color: var(--text-color);
}

.item-info p {
  font-weight: normal;
}


/* - - - Detail.ejs Media Queries - - - */ 

@media (min-width: 45em) {
  .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }
  
  .detail article {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-areas: "image info";
    width: 100%; 
    max-width: 65em;
    top: 5em;
  }

  .detail img {
    grid-area: image;
    width: 23em;
    padding: 0 2em;
  }

  .item-info {
    grid-area: info;
    width: 1fr;
    padding: 0 2em;
  }
}

@media (min-width: 70em) {
  .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }
  
  .detail article {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-areas: "image info";
    width: 100%; 
    max-width: 65em;
    top: 5em;
  }

  .detail img {
    grid-area: image;
    width: 23em;
    padding: 0 2em;
  }

  .item-info {
    grid-area: info;
    width: 1fr;
    padding: 0 2em;
  }
}